# Ignora los archivos de configuración locales
.env
*.iml
.idea/
*.log

# Ignora las dependencias locales
target/
.mvn/
.settings/

# Ignora el control de versiones y sistema de build
.git/
.gitignore
docker-compose.override.yml
Dockerfile*

# Ignorar los archivos temporales
*.swp
*~
